.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/bg.jpg') no-repeat 50%/cover;
    padding-top: 135px;
    &__name {
        position: relative;
        margin-top: 64px;
        margin-left: 608px;
        padding-left: 14px;
        z-index: 2;
        @include before_circle;
    }
    &__title {
        width: 535px;
        margin-top: 10px;
        margin-left: 608px;
    }
    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
        margin-left: 608px;
        margin-top: 25px;
    }
    
    &__link {
        color: #ffffff;
        font-weight: bold;
        font-size: 14px;
        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }
}